{
  "hooks": {
    "pre-commit": "yarn check-deps-precommit && pretty-quick --staged && npm run build && git add -A ./lib && npm run generate-readme && git add README.md && lint-staged",
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS"
  }
}
